{
  "base_url": "https://string-db.org",
  "server_port": 57416,
  "api_base_url": "http://api.plantgenecopilot.top",
  "verbosity": "low",
  "timeout": 100,
  "ncbi_config": {
    "email": "a18352831670@outlook.com",
    "api_key": "Your-NCBI-API-Key",
    "base_url": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/"
  }
}
